/* Text area form modifiche */
.form-group textarea.form-control { 
    resize: none;
    height: 100px;
    min-height:100px;  
    max-height:100px;
}


/* Leggero padding in fondo alla pagina */
body {
    padding-bottom: 50px;
}


/* Tasti di navigazione */
.page-header > div > div {
    margin-top: -35px;
}

.page-header > div > div.pull-right > a {
    margin-left: 8px;
}

.page-header > div > div.pull-left > a {
    margin-right: 8px;
}


/* Tabelle */
table .btn {
    margin-left: 10px;
}

.table-filterable td[data-field],
.table-filterable td[data-field-select] {
    cursor: pointer;
}


/* Dettagli cliente */
#aggiungi-pratica-button,
#aggiungi-documento-button {
    max-width: 200px;
}

#toggleImportanteBtn {
    cursor: pointer;
    -webkit-text-stroke: 1px white;
}

.sidebar a.nav-link {
    cursor: pointer;
}

.totali-assegni {
    margin-bottom: 20px;
}

#genera-lettera-btn {
    margin-top: 20px;
}

.trashed {
    color: silver;
    text-decoration:line-through;
}

.queryPanel .panel-heading {
    cursor: pointer;
}

.table>tbody>.row-subtotal td {
    font-weight: bold;
    border-bottom: 20px solid #fff;
}

.table>tbody>.row-subtotal.orange {
    background-color: #ffddaa;
}

.text-newlines {
    white-space: pre-line;
}