/* Text area form modifiche */
.form-group textarea.form-control { 
    resize: none;
    height: 100px;
    min-height:100px;  
    max-height:100px;
}


/* Leggero padding in fondo alla pagina */
body {
    padding-bottom: 50px;
}


/* Tasti di navigazione */
.page-header > div > div {
    margin-top: -35px;
}

.page-header > div > div.pull-right > a {
    margin-left: 8px;
}

.page-header > div > div.pull-left > a {
    margin-right: 8px;
}


/* Tabelle */
table .btn {
    margin-left: 10px;
}

.table-filterable td[data-field] {
    cursor: pointer;
}


/* Dettagli cliente */
#aggiungi-pratica-button,
#aggiungi-documento-button {
    max-width: 200px;
}

